    .outline-element div div.content div.citations_list {
	float:left;
	border: 1px solid black;
	width:30%;
	min-height:1em;
	display:inline-block;
	background-color:none;
	max-height:300px;
	overflow:auto;
    }


    .outline-element div div.content.citation_pane div.description {
	float:left;
	width:68%;
    }
