<html>
    <head>

    </head>
    <body>
        <form action="${url}?next=${next}">
            <div class="content-main">
                <div class="field-row">
                    <label for="email_id">Email: </label><input id="email_id" name="email" />
                </div>
                <div class="field-row">
                    <label for="password_id">Password: </label><input id="password_id" name="password" />
                </div>
            </div>
            <div class="submit-row">
                <label></label><input type="submit" value="Log In"/>
            </div>
        </form>
    </body>
</html>